@inherits RocketEcommerceAPI.Components.RocketEcommerceAPITokens<Simplisity.SimplisityRazor>
@using System.Linq
@using Simplisity;
@using DNNrocketAPI.Components;
@using RocketEcommerceAPI.Components;

@{
    var info = (SimplisityInfo)Model.List.First();
    var datalist = info.GetList("range");
    var systemData = new SystemLimpet("rocketecommerceapi");
    var productData = new PortalShopLimpet(info.PortalId, DNNrocketUtils.GetCurrentCulture());
    var interfaceData = systemData.GetInterface("cartweightship");
    var modLP = 1;
}

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/API/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommerceAPI/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RE_CartWeightShipping/App_LocalResources/")


<div class="w3-row w3-padding w3-margin-top">
    <div class="w3-button" onclick="window.location.reload(false);">@ButtonIcon(ButtonTypes.back)</div>
    <div class="w3-button w3-theme-action simplisity_click " s-cmd="cartweightship_save" s-post="#datasave" s-list=".range" s-fields=''>@ButtonText(ButtonTypes.save)</div>
    @if (Model.GetSettingBool("saved"))
    {
        <span class="simplisity_fadeout">
            @ButtonIcon(ButtonTypes.save)
        </span>
    }
</div>

<div id="datasave" class="w3-margin-top">

    <div class="w3-container ">
        <h2>@ResourceKey("provider.settings")</h2>
    </div>
    <p>
        <b>
            @ResourceKey("provider.shippingcents")
        </b>
    </p>
    <div class="w3-container">
        <label>Assembly</label>
        @TextBox(info, "genxml/textbox/assembly", "class='w3-input w3-border'  autocomplete='off' disabled ", interfaceData.Assembly)
        <label>Namespace + Class</label>
        @TextBox(info, "genxml/textbox/namespaceclass", "class='w3-input w3-border'  autocomplete='off' disabled ", interfaceData.NameSpaceClass)
    </div>

    <div class="w3-container">

        <div class="w3-row">
            <div class="w3-col m3" style="width:100px;">
                <label>@ResourceKey("provider.defaultcost")</label>
                @TextBoxMoney(productData.PortalId, productData.CultureCode, info, "genxml/textbox/defaultcost", "  class='w3-input w3-border w3-right-align ' autocomplete='off' ", "0")
            </div>
            <div class="w3-col m9 w3-padding">
                @ResourceKey("provider.defaultcost", "", "Help")
            </div>
        </div>


        <div class="w3-row">
            <div class="w3-twothird">
                <label>@ResourceKey("provider.selecttext")</label>
                @TextBox(info, "genxml/lang/genxml/textbox/selecttext", "class='form-control w3-input w3-border'  autocomplete='off'", "")
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-twothird">
                <label>@ResourceKey("provider.msg")</label>
                @TextArea(info, "genxml/lang/genxml/textbox/msg", "class='form-control w3-input w3-border'  autocomplete='off'", "")
            </div>
        </div>

        <hr />

        <div class="w3-container">
            <div class="w3-col w3-padding">
                <div class="w3-button w3-theme-action simplisity_click" s-post="#datasave" s-list=".range" s-cmd="cartweightship_addrange" s-fields=''>@ButtonIcon(ButtonTypes.add)</div>
                <div class="w3-button simplisity_itemundo" s-recylebin="rangelistbin" s-return="#rangedata" s-removelist=".range" style="display: none;">@ButtonIcon(ButtonTypes.undo)</div>
            </div>
        </div>

        <ul id="rangedata" class="w3-ul">

            @foreach (var rangeInfo in datalist)
            {
            <li class="range w3-display-container w3-padding w3-border-0">
                @SortableListIndex(rangeInfo, modLP)

                <div class="w3-row w3-display-container w3-card">
                    <div class="w3-col m2 w3-padding">
                        <label class="">@ResourceKey("provider.lowrange")</label>
                            @TextBox(rangeInfo, "genxml/textbox/lowrange", "  class='w3-input w3-border w3-right-align ' autocomplete='off' step='1' ", "0", false, modLP,"","number")
                    </div>
                    <div class="w3-col m2 w3-padding">
                        <label class="">@ResourceKey("provider.highrange")</label>
                            @TextBox(rangeInfo, "genxml/textbox/highrange", "  class='w3-input w3-border w3-right-align ' autocomplete='off' step='1' ", "0", false, modLP,"","number")
                    </div>
                    <div class="w3-col m2 w3-padding">
                        <label class="">@ResourceKey("provider.cost")</label>
                        @TextBoxMoney(productData.PortalId, productData.CultureCode, rangeInfo, "genxml/textbox/cost", "  class='w3-input w3-border w3-right-align ' autocomplete='off' ", "0", false, modLP)
                    </div>
                    <div class="simplisity_removelistitem w3-right w3-padding" s-removelist=".range" s-recylebin="rangelistbin" style="cursor: pointer;">
                        @ButtonIcon(ButtonTypes.remove)
                    </div>
                </div>

            </li>
                modLP += 1;
            }
        </ul>


        <hr />

        <label>@ResourceKey("provider.debugmode")</label>
        @CheckBox(info, "genxml/checkbox/debugmode", "", "class='w3-check'")

        <label>@ResourceKey("DNNrocket.active")</label>
        @CheckBox(info, "genxml/checkbox/active", "", "class='w3-check'")

    </div>
    <div class="w3-tiny w3-padding">
        ItemId: @info.ItemID &nbsp; PortalId: @info.PortalId &nbsp; SiteKey: @info.GUIDKey
    </div>
</div>
